<h2>Region</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- SearchBox que será un componente reutilizado que tiene OUTPUT-->
        <shared-search-box 
        (onValue)="searchByRegion($event)"
        placeholder="Search for region"
        ></shared-search-box>
    </div>
</div>

<!--Tabla de resultados que usaremos en country,region y capital-->
<div class="row">
    <div class="col">
        <hr>
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>

