<h2>Region</h2>
<hr>

<div class="row">
    <div class="col text-center">
        <!-- SearchBox que será un componente reutilizado que tiene OUTPUT y que quitaremos por no necesitarlo al buscar ya que tenemos opciones limitadas

        <shared-search-box 
        (onDebounce)="searchByRegion($event)"
        placeholder="Search for region"
        ></shared-search-box>
    
        Haremos un botón que recorra las regiones y cada uno de ellos llame a la region con el evento que teníamos creado de SearchByRegion. Para saber en qué region estamos usamos ngClass para aplicar CSS distinto a ese botón-->
        <button 
            class="btn mx-2"
            [ngClass]="{'btn-outline-primary': selectedRegion === region}"
            (click)="searchByRegion(region)"
            *ngFor="let region of regions">
                {{ region }}
        </button>
    </div>
</div>

<!--Tabla de resultados que usaremos en country,region y capital-->
<div class="row">
    <div class="col">
        <hr>
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>

