div{
	background-color: #673ab7;
}

h1{
	font: 2.5em;
	margin-top: 200px;
	text-align: center;
	color:#673ab7;	
}

span {
	font: 400 4em/1 "Roboto", sans-serif;
	letter-spacing: 0;
	padding: .25em 0 .325em;
	display: block;
	margin: 0 auto;
	text-align: center;
	text-shadow: 0 0 80px rgba(0,0,0,.5);

	background-color: #673ab7;
	-webkit-background-clip: text;
	background-clip: text;

/* Animate Background Image */

	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;

}

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}