<h1>Listado de Héroes de MARVEL</h1>

<!-- Directiva ngIf para mostrar algo si se cumple la condición de que heroe haya sido borrado: tenemos varias opciones:
Si heroeBorrado es distinto de un string vacío
heroeBorrado sin símbolos o !heroeBorrado con la negación de la condición-->

<div *ngIf="heroeBorrado; else noBorrado">
    <h3>Héroe borrado: <small>{{ heroeBorrado }}</small></h3>
</div>

<!-- Referencia local con el ng-template que se ejecuta si llega la condición al else indicado en el *ngIf-->
<ng-template #noBorrado>
    <h3>NO ha borrado nada</h3>
</ng-template>

<button (click)="borrarHeroe()">
    Borrar
</button>

<!-- Directiva ngFor para recorrer arrays-->
<ul>
    <li *ngFor="let heroe of heroes; let i = index">
        Superhéroe  {{ i + 1 }} {{ heroe }}
    </li>
</ul>



