<h1>Dragon Ball Z</h1>
<hr>

<div class="row">

    <div class="col">
        <app-personajes>            
        </app-personajes>
    </div>

    <div class="col">
        <app-agregar 
        [nuevo]="nuevo"         
        ></app-agregar>
    </div>

</div>
<!-- Para el () event llamado onNuevoPersonaje. Voy a disparar en este evento el método agregarNuevoPersonaje que crearé en el padre main-page.TS.
Luego le pasaré un $event que será argumento u otra variable que será de tipo Personaje-->