<!--Código HTML descargado de https://gist.github.com/Klerith/5729dcfb170595f84d1b564a182ffbc2 -->

<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">
<!--Conectamos el formulario con la lógica y el evento y en cada input indicamos el formControlName-->
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Full Name</label>
                <div class="col-sm-9">
                    <input 
                        formControlName="name"
                        type="text"
                        class="form-control"
                        placeholder="Your full name">
                <!--Hacemos la validación del campo mostrando el error si no es correcto pasándole el método y en cada caso el campo que validamos-->    
                    <span 
                        *ngIf="isValidField('name')"
                        class="form-text text-danger">
                        Please write name and surname
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email address</label>
                <div class="col-sm-9">
                    <input 
                        formControlName="email"
                        type="email"
                        class="form-control"
                        placeholder="Your email address">
                    <!--Hacemos la validación del campo mostrando el error si no es correcto pasándole el método y en cada caso el campo que validamos--> 
                    <span 
                        *ngIf="isValidField('email')"
                        class="form-text text-danger">
                        Email error message
                    </span>
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input 
                        formControlName="username"  
                        type="text"
                        class="form-control"
                        placeholder="Your username">
                    <!--Hacemos la validación del campo mostrando el error si no es correcto pasándole el método y en cada caso el campo que validamos--> 
                    <span 
                        *ngIf="isValidField('username')"
                        class="form-text text-danger">
                        Username can't be <i> Strider</i>
                    </span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input 
                        formControlName="password"
                        type="password"
                        class="form-control"
                        placeholder="Your password">
                    <!--Hacemos la validación del campo mostrando el error si no es correcto pasándole el método y en cada caso el campo que validamos--> 
                    <span 
                        *ngIf="isValidField('password')"
                        class="form-text text-danger">
                        Password must contain at least 6 characters
                    </span>
                </div>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirm password</label>
                <div class="col-sm-9">
                    <input 
                        formControlName="password2"
                        type="password"
                        class="form-control"
                        placeholder="Confirm your password">
                    <!--Hacemos la validación del campo mostrando el error si no es correcto pasándole el método y en cada caso el campo que validamos--> 
                    <span 
                        *ngIf="isValidField('password2')"
                        class="form-text text-danger">
                        Both passwords must be equal
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit">
                        Create
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>

<hr>

<!--Para visualizar mejor lo que va ocurriendo con el formulario a medida que vamos rellenando los campos,usamos etiquetas HTML que nos muestre el estatus del formulario, justo debajo de donde mostramos si el formulario es válido o no:-->
<h2>Form Valid: {{ myForm.valid}} </h2> <!--El status del form son.VALID, INVALID y PENDING (cuando hcemos validación asíncrona)-->
<h2>Form Status: {{ myForm.status}} </h2>
<h2>Form Pending: {{ myForm.pending}} </h2>
<h2>Form errors</h2>
<pre>{{ myForm.errors| json }}</pre>

<h5>Nombre</h5>
<pre>{{ myForm.controls['name'].errors  | json }}</pre>  <!--Validar  los errores del name-->

<h5>Email</h5>
<pre>{{ myForm.controls['email'].errors | json }}</pre> <!--Validar  los errores del email-->

<h5>Username</h5>
<pre>{{ myForm.controls['username'].errors | json }}</pre> <!--Quiero ver todos los errores que el username va a tener-->

<h5>Password</h5>
<pre>{{ myForm.value.password | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ myForm.controls['password2'].errors | json }}</pre>
