<p-panel [showHeader]=false>  
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module
    </p>
</p-panel>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="uppercase">
            1
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="lowercase">
            2
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="titlecase">
            3
        </p-card>
    </div>
</div>

<!--Dentro del panel hay un hueco que se ve en la vista porque podríamos pasarle atributos y que se vean en pantalla. En nuestro caso no lo queremos así que indicaremos esto    [showHeader]=false 

A las p-card podemos ponerle header con el texto que queramos por ejemplo el nombre del PIPE que estamos estudiando-->

