<h2>Countries🌍</h2>
<hr>
<ul class="list-group">
    <!-- Usamos el modulo de router link importándolo en shared.module -->
    <!-- Para tener la navegación que nos indique donde estamos (active), añadimos una propiedad o atributo routerLinkActive="active" a la etiqueta li.
    También añadiremos la clase routerLinkActiveOptions y dentro un objeto que tiene varias opciones, entre ellas exact:true que nos dice que tiene que ser verdad para aplicar en la ruta el Home-->
   <!--  <li 
        routerLink =""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact:true}"
        class="list-group-item">
        Home Page
    </li>

    <li
        routerLink ="about"
        routerLinkActive="active" 
        class="list-group-item">
        About Page
    </li>

    <li
        routerLink ="contact"
        routerLinkActive="active" 
        class="list-group-item">
        Contact Page
    </li>
 -->
    <li
        routerLink ="countries/by-capital"
        routerLinkActive="active" 
        class="list-group-item">
        Capital
    </li>

    <li
        routerLink ="countries/by-country"
        routerLinkActive="active" 
        class="list-group-item">
        Country
    </li>

    <li
        routerLink ="countries/by-region"
        routerLinkActive="active" 
        class="list-group-item">
        Region
    </li>
</ul>