
<router-outlet></router-outlet>
<!--router-outlet es una etiqueta especial en Angular que sirve para mostrar los componentes hijos de un componente. Por defecto todos los componentes son hijos del componente AppComponent, por lo que si incluímos esta etiqueta dentro de la vista de AppComponent, se renderizará cada uno de los componentes del routing dependiendo de la página en la que nos encontremos.
Mediante la etiqueta 'router-outlet' indicamos el lugar que debe mostrar el componente especificada por la ruta configurada en el archivo 'app-routing.module.ts'-->