<h1>Heroes & Heroines</h1>
<p>
    <span>
        Who will save the world?
    </span>
</p>

<mat-divider></mat-divider>

<div class="grid bm-8 pt-2">
    <div 
        *ngFor="let hero of heroes"
        class="col-12 sm:col-4 md:col-3 xl:col-2">

        <!--Creamos un componente como una CARD que formará parte de cada div que se recorre y que recibirá hero como argumento y se le manda hero. NO es una card de Material-->
        <heroes-hero-card [hero]="hero"></heroes-hero-card>
    </div>
</div>

<!--Recorremos con ngFor y sabiendo que dentro de cada heroes el nombre se llama en el JSON con superhero

<ul>
    <li *ngFor="let hero of heroes">
        {{hero.superhero}} 
    </li>
</ul>

-->
