
<mat-card>

    <mat-card-header>
        <mat-card-title><b>{{ hero.superhero}}</b></mat-card-title>
        <mat-card-subtitle><b>{{ hero.alter_ego}}</b></mat-card-subtitle>
    </mat-card-header>

    <!--La imagen usamos el tipado de Material
    SRC recibe la ruta (que podría cambiar) con comillas dobles concatenada como el alt. Usaremos un PIPE para ello.
    Si la imagen no existiera, deberíamos podner una imagen por defecto-->

    <img mat-card-image [src]="'assets/heroes/'+ hero.id + '.jpg'" [alt]="hero.superhero">

    <mat-card-content class="mt-2">
        <h4>{{ hero.publisher}}</h4>
        <p>
            <strong>Primera aparición</strong>{{ hero.first_appearance }}
            <br>
            <mat-chip-listbox>
                <!--Para descomponer los characters en varios usamos otro ngFor , el método split con coma y un PIPE slice que los corte-->
                <mat-chip *ngFor="let name of hero.characters.split(',') | slice:0:3">
                    {{ name }}
                </mat-chip>
            </mat-chip-listbox>
        </p>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions>
        <button mat-button 
            mat raised
            color="primary"
            [routerLink]="['/heroes/edit', hero.id]">
            <mat-icon>edit</mat-icon>
            Editar
        </button>

        <span class="spacer"></span>

        <button mat-button 
        mat raised
        [routerLink]="['/heroes', hero.id]">
        <mat-icon>more_horiz</mat-icon>
        Más
    </button>

    </mat-card-actions>

</mat-card>
