<div class="row mt-4">
    <div class="col-3">
        <!-- sidebar -->
        <shared-sidebar></shared-sidebar>
    </div>

    <div class="col">
        <!-- Nuestras páginas:Basado en el URL de la dirección del navegador quiero mostrar una page u otra -->
        
        <!--<shared-home-page></shared-home-page> -->
        <!--<shared-about-page></shared-about-page> --> 

        <router-outlet></router-outlet> 
        <!-- Usamos un componente propio de ANGULAR para el ruteo  y hace que renderice el componente según la ruta que te encuentres-->  
    </div>
</div>
